
body {
    font-family: 'Overpass', sans-serif;
    font-size: 36px;
    position: absolute;
}

#reload {
    font-family: Overpass;
    border: 2px solid black;
    font-size: 24px;
    margin: 0;
}